name: Publish

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PUBLISH_TO_PACKAGES: ${{ secrets.PUBLISH_TO_PACKAGES }}

    steps:
    - uses: actions/checkout@v4
    - name: Restore cache
      uses: coursier/cache-action@v6
    - name: Set up JDK 17 & Scala
      uses: coursier/setup-action@v1
      with:
        jvm: 17
        apps: sbt
    - name: Publish Site
      # The bot needs its identity set to make the 'gh-pages' commit
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        sbt unidoc makeSite ghpagesPushSite
    - name: Publish Package
      run: sbt publish
